.contactUs {
    .infoButtons {
        display: flex;
        margin-bottom: 25px;
        :global {
            .ant-btn:last-child {
                margin-right: 0;
                background: var(--white-color);
                border: 1px solid var(--pink-color);
                color: var(--pink-color);
                flex-grow: 1;
            }
        }
    }

    p {
        margin-top: 25px;
        font-weight: 300;
        color: var(--medium-grey-color);
        font-size: 18px;
    }

    .form {
        h4 {
            margin: 35px 0 15px 0;
            font-size: 20px;
        }

        .sendEnquiriesButton {
            background: var(--pink-color) !important;
            border: 1px solid var(--pink-color);
            color: var(--white-color);
            border-radius: 3px;
            margin-right: 10px;
        }

        .input {
            border-radius: 3px;
        }
    }
}
