.content {
    background: #ecf3f4;
    position: fixed;
    top: 76px;
    left: 0px;
    bottom: 88px;
    right: 0px;

    display: flex; // make us of Flexbox
    align-items: center; // does vertically center the desired content
    justify-content: center; // horizontally centers single line items

    .loginBox {
        height: 360px;
        width: 360px;
        background-color: #ffffff;
        padding: 25px;
        box-sizing: border-box;
        border-radius: 3px;

        h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 500;
        }

        p {
            margin: 10px 0 0 0;
            color: #697488;
        }

        .largeInput {
            padding: 15px;
            margin: 15px 0 0 0;
        }

        .largeButton {
            padding: 15px;
            margin: 15px 0 0 0;
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 767px) {
    .content {
        bottom: 188px;
    }
}
