.searchBox {
    background: var(--white-color);
    padding: 10px 15px;

    .searchField {
        margin-bottom: 10px;
    }

    .input {
        border-radius: 2px;
        padding: 10px 10px;
        font-size: 14px;
    }

    .autocomplete {
        div {
            border-radius: 2px !important;
            font-size: 14px !important;

            input {
                padding: 10px 0px !important;
                font-size: 14px;
            }
        }
    }

    .searchButtonWrapper {
        text-align: right;
    }

    .searchButton {
        border-top-right-radius: 2px !important;
        border-bottom-right-radius: 2px !important;
    }

    .errorQuery {
        border: 1px solid var(--pink-color) !important;
    }

    .errorSuburb {
        > div {
            border: 1px solid var(--pink-color) !important;
        }
    }
}
.filterWrapper {
    background: var(--white-color);

    .filters {
        display: flex;
        margin: 0 auto;
        padding: 0 15px 10px 15px;

        .dropdown {
            box-sizing: content-box;
            flex-grow: 1;
            text-align: center;

            :global {
                .ant-select-selector {
                    border-radius: 3px;
                    font-size: 14px;
                }
                .ant-select-selection-item {
                    font-size: 14px !important;
                }
            }
        }

        .mapView {
            flex-grow: 1;
            font-size: 14px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            display: flex;
            justify-content: center;

            span {
                display: flex;
                margin-top: 2px;
                align-items: center;

                svg {
                    margin-right: 5px;
                }
            }
        }

        :global {
            .ant-space-compact {
                flex-grow: 4 !important;
            }
        }
    }
}
