.searchBox {
    background: var(--white-color);
    padding: 15px 20px;
    border-bottom: 1px solid var(--light-grey-color);

    .searchField {
        margin-bottom: 10px;
    }

    .searchButtonWrapper {
        text-align: right;
    }

    .errorQuery {
        border: 1px solid var(--pink-color) !important;
    }

    .errorSuburb {
        > div {
            border: 1px solid var(--pink-color) !important;
        }
    }
}
