.mapWrapper {
    background: var(--super-light-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .mapView {
        position: fixed;
        top: 226px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
