.titleButton {
    margin: 0 0 20px 0;
}

.card {
    background: var(--white-color);
    padding: 0 20px;
    border-radius: 5px;

    .class {
        display: flex;
        border-bottom: 1px solid var(--light-grey-color);
        padding: 20px 0;

        img {
            width: 120px;
            border-radius: 5px;
        }

        .description {
            margin: 0 20px;

            h3 {
                margin: 0;
                font-weight: 500;
                color: var(--dark-grey-color);
            }

            .button {
                margin: 0 10px 0 0;
            }
        }
    }
}
