.content {
    h1 {
        margin: 0 0 30px 0 !important;
    }

    h3 {
        font-weight: 500;
        color: var(--medium-grey-color);
    }

    .sessionTime {
        font-weight: 500;
    }

    .input {
        margin: 0 10px 15px 0;
    }

    .info {
        padding: 15px 0 0 0;

        .name {
            width: 150px;
            display: inline-block;
        }

        .value {
            font-weight: 500;
        }
    }

    .first {
        padding: 0;
    }

    img {
        width: 100%;
        max-width: 400px;
    }
}
