.content {
    padding: 25px 35px;
    box-sizing: border-box;
    border-radius: 5px;

    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;

        .options {
            margin: 0 0 15px 0;
        }
    }

    h1 {
        font-weight: 500;
        font-size: 30px;
        margin: 10px 0 0 0;
        color: var(--dark-grey-color);
    }

    p {
        color: var(--medium-grey-color);
        margin: 10px 0 20px 0;
    }
}

@media only screen and (max-width: 796px) {
    .content {
        padding: 0;
    }
}
