.breadcrumbWrapper {
    background: var(--super-light-cyan-color);
    width: 100%;

    .breadcrumb {
        max-width: 1200px;
        margin: 0 auto;
        background: var(--super-light-cyan-color);
        font-size: 12px;
        padding: 15px 25px;
        color: var(--medium-grey-color);
    }
}
