.breadcrumbWrapper {
    background: #ecf3f4;
    width: 100%;

    .breadcrumb {
        max-width: 1200px;
        margin: 0 auto;
        background: #ecf3f4;
        font-size: 12px;
        padding: 15px 25px;
        color: #697488;
    }
}
