.search {
    margin: 50px auto;
    width: 360px;
    max-width: 70%;
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 15px 18px;

    label {
        color: var(--dark-grey-color) !important;
    }

    .searchButton {
        width: 100%;
    }
}
