@mixin font-jost($size){
    font-family: Jost;
  	font-size: $size;
  	font-weight: 500;
}
html {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 16px;
	color: #5d5d5d;
	font-weight: 400;
	font-family: "Jost-Book";
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}
div {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
span {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
applet {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
object {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
iframe {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
h1 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 24px;
}
h2 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 20px;
}
h3 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 18px;
}
h4 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 16px;
}
h5 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 14px;
}
h6 {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	clear: both;
	color: #2d2d2d;
	font-family: "Jost";
	font-weight: 700;
	font-size: 12px;
}
p {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	line-height: 1.44;
	vertical-align: baseline;
}
blockquote {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
pre {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
a {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	color: #2d2d2d;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	&:hover {
		color: #23d3d3;
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}
abbr {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
acronym {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
address {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
big {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
cite {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
code {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
del {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
dfn {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
em {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
font {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
ins {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
kbd {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
q {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
s {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
samp {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
small {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
strike {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
strong {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
sub {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
sup {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
tt {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
var {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
dl {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
dt {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
dd {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
ol {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
ul {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
li {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
fieldset {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
form {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
label {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
legend {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
table {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
caption {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
tbody {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
tfoot {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
thead {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
tr {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
th {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
}
button {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	border-color: #23d3d3;
	outline: none;
}
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
svg {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
input[type=text] {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}
input[type=email] {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}
input[type=password] {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}
input[type=number] {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}
input[type=search] {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}
textarea {
	border: 1px solid #5d5d5d;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	&:focus {
		border-color: #23d3d3;
		outline: none;
	}
}

.row {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;	
}


.form-underline .field-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.form-underline .field-inline .field-input {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.form-underline textarea {
    width: 100%;
    height: 90px;
    border-radius: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border: 0;
    padding: 0;
    border-bottom: 2px solid #2d2d2d;
    margin-bottom: 20px;
    font-style: normal;
    resize: none;
    background-color: inherit;
}

.form-underline textarea::-webkit-input-placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline textarea:-ms-input-placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline textarea::placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border: 0;
    padding: 0;
    border-bottom: 2px solid #2d2d2d;
    margin-bottom: 20px;
    font-style: normal;
    background-color: inherit;
}

.form-underline input::placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline input:-ms-input-placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline input::-ms-input-placeholder {
    font-size: 15px;
    font-style: normal;
    color: #8d8d8d;
    font-family: "Jost-Book";
}

.form-underline input[type="submit"] {
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background-color: #23d3d3;
    color: #ffffff;
    margin-bottom: 0;
    cursor: pointer;
    border: 0;
}

.form-underline input[type="checkbox"] {
    width: auto;
    line-height: normal;
    height: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.form-underline .field-select {
    margin-bottom: 30px;
}

.form-underline .field-select .sl-icon {
    position: absolute;
    top: 6px;
    left: 0;
}

.form-underline .field-select .sl-icon i {
    font-size: 24px;
    vertical-align: 3px;
}

.form-underline .field-select select {
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #2d2d2d;
    height: 40px;
    line-height: 40px;
    color: #8d8d8d;
    padding-left: 30px;
}

.form-underline .field-select select:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    outline: 0;
    border-bottom: 2px solid #2d2d2d;
}