

:root {
  --primary-color: #83b540;  
  --secondary-color: #ffffff;
  --dark-grey-color: #262626;
  --dark-text-color: #707070;
  --medium-grey-color: #333333;
  --super-light-grey-color: #f0f0f0;
  --light-grey-color: #dddddd;
  --super-light-bg-color: #fafafa;
  --medium-cyan-color: #08979c;  
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-green-color: #2f4a4d;
  --light-orange-color: #f38844;
  --pink-color:#e11765;
}

body{
  margin:0;
  padding:0;
}

body * {
  font-family: var(--font-jost);
}

ul {
  list-style:none;
  margin: 0;
  padding: 0;

  li {
    list-style:none;
    margin: 0;
    padding: 0;    
  }
}

a:link,
a:visited{
  text-decoration: none;
}