.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
        font-family: var(--font-roboto);
        font-weight: 300;
        font-style: normal;
        font-size: 32px;
        color: white;
        padding: 13px 30px;

        a,
        a:hover,
        a:visited {
            color: var(--white-color);
            text-decoration: none;
        }

        span {
            color: var(--primary-color);
            display: inline-block;
            margin-right: 2px;
        }
    }

    .menu {
        margin: 25px 30px 0 0;
        .menuIcon {
            color: white;
            width: 20px;
            height: 20px;
        }

        .submenu {
            width: 70%;
            max-width: 360px;
            height: 100%;
            position: fixed;
            top: 0px;
            z-index: 9999;
            background: var(--medium-grey-color);

            .menuHeader {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                background: var(--dark-grey-color);

                h1 {
                    background: none;
                    color: var(--light-grey-color);
                    font-size: 26px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 100;
                    font-style: normal;
                    margin: 3px 0 0 0;
                    padding: 0;
                    text-align: left;
                }

                .close {
                    margin: 10px 10px;
                    color: var(--secondary-color);
                }
            }

            ul {
                padding-top: 15px;

                li {
                    display: flex;
                    align-items: center;

                    span {
                        display: block;
                        font-size: 20px;
                        margin-right: 20px;
                    }

                    a {
                        color: var(--secondary-color);
                        padding: 20px 35px;
                        font-size: 16px;
                        display: flex;
                        justify-content: space-between;
                        width: 100% svg {
                            margin: 0 10px 0 0;
                        }
                    }

                    a:link,
                    a:visited {
                        text-decoration: none;
                    }
                }

                li:hover {
                    background: var(--light-grey-color);
                    cursor: pointer;

                    a {
                        color: var(--dark-grey-color);
                    }
                }
            }
        }

        .overlay {
            background: var(--black-color);
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 100%;
            z-index: 100;
        }
    }
}

.light {
    background: var(--dark-grey-color);

    .logo {
        padding: 5px 25px;
        font-size: 32px;

        a,
        a:hover,
        a:visited {
            color: var(--light-grey-color);
            text-decoration: none;
        }
    }

    .menu {
        margin: 18px 30px 0 0;

        .menuIcon {
            color: var(--light-grey-color);
        }
    }
}

.dark {
    background: var(--dark-green-color);
}
