.sessionList {
    li {
        display: block;
        padding: 8px 0 0 0;

        span {
            margin: 0 15px 0 0;
            font-weight: 500;
            color: var(--medium-grey-color);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0 15px 0 0;

            li {
                margin: 5px;
                font-size: 12px;
                font-weight: 300;
                color: var(--medium-grey-color);
                border: 1px solid var(--primary-color);
                background: var(--secondary-color);
                padding: 3px 8px;
                border-radius: 5px;
                cursor: pointer;

                a,
                a:hover,
                a:visited {
                    text-decoration: none;
                    color: var(--medium-grey-color);
                }
            }

            li.selected {
                color: var(--secondary-color);
                background: var(--primary-color);
            }

            li:hover {
                color: var(--secondary-color);

                a {
                    color: var(--secondary-color);
                }
                background: var(--primary-color);
            }
        }
    }
}
