
// Footer
.footer.layout-03 {
	border-top: 0;
	background-color: #111111;
	text-align: center;
	h2 {
		font-size: 48px;
		color: #ffffff;
		font-family: "Jost-Semi";
		margin-bottom: 18px;
	}
	p {
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 55px;
	}
	a.btn {
		border-radius: 30px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		background-color: #1ed5d5;
		height: 60px;
		line-height: 60px;
		color: #111111;
		padding: 0 52px;
		font-family: "Jost-Semi";
		&:hover {
			background-color: #ffffff;
		}
	}
	.footer__bottom {
		border-top: 0;
		padding: 0 0 50px;
		.footer__bottom__copyright {
			margin-bottom: 0;
			font-size: 16px;
			text-align: center;
			display: inline-block;
			margin: 0 auto;
		}
		a {
			color: #ffffff;
			&:hover {
				color: #23d3d3;
			}
		}
	}
}
.footer__top__nav {
    width: 25%;
}
.footer {
	position: relative;
	z-index: 1;
	background-color: #ffffff;
    border-top: 1px solid #eeeeee;

	.footer__top__info {
		.footer__top__info__logo {
			img {
				margin-bottom: 40px;
			}
		}
		.footer__top__info__desc {
			margin-bottom: 10px;
		}
	}
}
.footer-subscribe {
	max-width: 300px;
	position: relative;
	input {
		border: 0;
		border-bottom: 2px solid #2d2d2d;
		height: 36px;
		line-height: 36px;
		width: 100%;
		padding: 0 50px 0 0;
		&::placeholder {
			color: #8d8d8d;
			font-weight: 400;
			font-family: "Jost-Book";
			font-size: 15px;
		}
		&:-ms-input-placeholder {
			color: #8d8d8d;
			font-weight: 400;
			font-family: "Jost-Book";
			font-size: 15px;
		}
		&::-ms-input-placeholder {
			color: #8d8d8d;
			font-weight: 400;
			font-family: "Jost-Book";
			font-size: 15px;
		}
	}
	button {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 50%;
		right: 0;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		i {
			font-size: 24px;
		}
	}
}
.footer__bottom {
	border-top: 1px solid #eeeeee;
	padding: 32px 0;
}
.footer__top {
	padding: 20px 0 40px 0;
}
.footer__top__info {
	.footer__top__info__logo {
		img {
			max-width: 96px;
			margin-bottom: 20px;
		}
	}
	.footer__top__info__desc {
		font-size: 16px;
		line-height: 1.44;
		color: #5d5d5d;
		margin-bottom: 25px;
	}
	.footer__top__info__app {
		a {
			display: inline-block;
			margin-right: 8px;
		}
		img {
			max-width: 134px;
		}
	}
}
.footer__top__nav {
	h3 {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	li {
		list-style: none;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #5d5d5d;
			line-height: 1.53;
			font-weight: 500;
			font-family: "Jost";
			&:hover {
				color: #23d3d3;
			}
		}
		i {
			font-size:18px;
			line-height: 36px;
		}
	}
}
.footer__top__nav--contact {
	p {
		font-weight: 500;
		font-family: "Jost";
		line-height: 1.53;
		color: #5d5d5d;
		margin-bottom: 10px;
	}
	ul {
		margin-top: 30px;
	}
	li {
		display: inline-block;
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			&:hover {
				>* {
					fill: #23d3d3;
				}
			}
		}
		a{
			display: block;
			width: 36px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			border-radius: 5px;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			color: #ffffff;
		}
		a:hover{
			color: #ffffff;
			opacity: 0.7;
		}
	}
}
.footer__bottom__copyright {
	text-align: center;
	font-size: 14px;
	color: #5d5d5d;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    
}

@media screen and (max-width: 767px) {
    .footer {
        .container {
            padding: 15px;
            .footer__top {
                padding: 0 0 20px 0;

                .footer__top__nav {
                    width: 100%;
            
                    h3 {
                        margin:15px 0 10px 0;
                    }
                }
            }
            
            .footer__bottom {
                padding:15px 0;
            }
        }
    }
}