.contentWrapper {
    background: var(--super-light-bg-color);

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .floatButton {
        z-index: 1000;
        position: fixed;
        left: calc(50% - 70px);
        bottom: 20px;
    }

    .searchResultWrapper {
        padding: 0 15px 15px 15px;
        min-height: 500px;
    }

    .endScroll {
        color: var(--medium-grey-color);
        text-align: center;
    }

    .empty {
        margin-top: 100px;
    }
}
