.contentWrapper {
    background: var(--super-light-cyan-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .floatButton {
        z-index: 1000;
        position: fixed;
        left: calc(50% - 70px);
        bottom: 20px;
    }

    .searchResultWrapper {
        padding: 15px 15px 50px 15px;
        position: fixed;
        top: 177px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 50px;
        overflow-y: scroll;
    }
}
