.contentWrapper {
    background: var(--super-light-bg-color);

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .floatButton {
        z-index: 1000;
        position: fixed;
        left: calc(50% - 70px);
        bottom: 20px;
    }

    .searchResultWrapper {
        padding: 0 15px 15px 15px;
        min-height: 500px;

        .filters {
            background-color: var(--super-light-bg-color);
            position: sticky;
            top: 0px;
            margin: 0 auto;
            max-width: 640px;
            padding: 15px 0;
            z-index: 1000;
            display: flex;

            .filterItem {
                display: flex;
                flex-grow: 1;
                align-items: center;
                .text {
                    font-size: 18px;
                    color: var(--medium-grey-color);
                    margin: 0 15px 0 10px;
                }

                .dropdown {
                    flex-grow: 4;
                    box-sizing: content-box;

                    :global {
                        .ant-select-selector {
                            border-radius: 3px;
                        }
                        .ant-select-selection-item {
                            font-size: 16px !important;
                        }
                    }
                }

                :global {
                    .ant-space-compact {
                        flex-grow: 4 !important;
                    }
                }
            }
        }
    }

    .endScroll {
        color: var(--medium-grey-color);
        text-align: center;
    }

    .empty {
        margin-top: 100px;
    }
}
