.listingWrapper {
    display: flex;
    background: var(--dark-grey-color);

    .heading {
        padding: 0 10px;
        display: flex;
        align-items: flex-start;

        h2 {
            margin: 5px 10px 0 0;
            font-weight: 500;
            font-size: 22px;
            color: var(--white-color);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .infoWrapper {
        padding: 10px 10px 0 10px;
        width: calc(100% - 150px);

        .details {
            padding: 10px 10px 0 10px;

            .ratingLabel {
                font-size: 14px;
                font-weight: 400;
                color: var(--light-grey-color);
                display: inline-block;
                margin: 10px 10px 0 0;
            }

            .rating {
                font-size: 14px;
            }

            .address {
                font-size: 16px;
                color: var(--light-grey-color);
                margin: 10px 0 5px 0;
            }
        }
    }
}
