.loginBox {
    width: 360px;
    background-color: var(--secondary-color);
    padding: 25px;
    box-sizing: border-box;
    border-radius: 3px;

    h2 {
        margin: 0;
        font-size: 22px;
        font-weight: 500;
    }

    p {
        margin: 10px 0 0 0;
        color: var(--medium-grey-color);
    }

    .largeInput {
        padding: 15px;
        margin: 15px 0 0 0;

        input {
            margin-left: 8px;
        }
    }

    .largeButton {
        padding: 15px;
        margin: 15px 0 0 0;
        width: 100%;
        height: auto;
    }

    .checkBox {
        margin: 15px 0 0 0;
    }
}
