.formWrapper,
.verticalForm {
    border-left: 1px solid var(--super-light-grey-color);
    border-right: 1px solid var(--super-light-grey-color);
    border-bottom: 1px solid var(--super-light-grey-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.formWrapper {
    padding: 15px 25px 0 25px;

    p {
        margin: 0px;
    }

    .className {
        max-width: 500px;
    }
}

.form {
    h3 {
        font-weight: 500;
    }
}

.verticalForm {
    box-sizing: border-box;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
}

.verticalDivider {
    margin: 0 25px !important;
    height: auto !important;
}

.horizontalDivider {
    display: none !important;
}

.input {
    width: 100% !important;
}

.topMargin {
    margin: 10px 0 0 0;
}

.bottomMargin {
    margin: 0 0 10px 0;
}

.buttonGroup {
    width: 110px;
    margin: 30px 10px 10px 0;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noBottomMargin {
    margin-bottom: 0 !important;
}

.removeLink {
    svg {
        color: var(--primary-color);
    }
}

@media only screen and (max-width: 1300px) {
    .verticalDivider {
        display: none !important;
    }

    .horizontalDivider {
        display: block !important;
    }

    .leftPanel {
        width: 100%;
    }

    .form {
        width: 100%;

        h3 {
            margin-top: 0px !important;
        }
    }
}
