.form,
.verticalForm {
    border-left: 1px solid var(--super-light-grey-color);
    border-right: 1px solid var(--super-light-grey-color);
    border-bottom: 1px solid var(--super-light-grey-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form {
    padding: 15px 25px 0 25px;

    p {
        margin: 0px;
    }

    .className {
        max-width: 500px;
    }
}

.verticalForm {
    padding: 15px 25px;
    display: flex;
}

.verticalDivider {
    margin: 0 25px !important;
    height: auto !important;
}

.input {
    width: 100% !important;
}

.addDateRange {
    margin: 10px 0 0 0;
    font-size: 14px !important;
}

.buttonGroup {
    width: 110px;
    margin: 0 10px 10px 0;
}
