.mapWrapper {
    background: var(--super-light-bg-color);
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .mapView {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .marker {
            font-size: 15px;
            path {
                stroke: var(--white-color);
                stroke-width: 3px;
                fill: var(--pink-color);
            }
        }

        .selectedMarker {
            font-size: 30px;
            path {
                stroke: var(--white-color);
                stroke-width: 2px;
                fill: var(--medium-grey-color);
            }
        }

        .popup {
            z-index: 1000;
            position: fixed;
            width: 100%;

            bottom: 0;
            background: var(--white-color);

            .searchResult {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        .updateSearchArea {
            position: fixed;
            z-index: 1000;
            left: 0;
            right: 0;
            bottom: 0;
            height: 155px;
            box-sizing: border-box;
            text-align: center;
            background-color: var(--dark-grey-color);
            padding: 25px 0 15px 0;

            p {
                margin: 0 0 30px 0;
                color: var(--light-grey-color);
                font-size: 20px;
                font-weight: 500;
            }

            .searchAreaButton {
                width: 200px;
            }
        }

        @media (max-width: 500px) {
            .popup {
                left: 0;
                right: 0;
            }
        }
    }
}
