.marker {
    font-size: 15px;
    path {
        stroke: var(--white-color);
        stroke-width: 3px;
        fill: var(--pink-color);
    }
}

.popup {
    z-index: 1000;
    position: fixed;
    left: calc(50% - 215px);

    bottom: 0;
    background: var(--white-color);

    .searchResult {
        border-bottom: none;
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .popup {
        left: 0;
        right: 0;
    }
}
