.contentWrapper {
    background: var(--super-light-cyan-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    h1 {
        margin: 0;
        background: var(--white-color);
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0 0 18px;
    }

    .floatButton {
        z-index: 1000;
        position: fixed;
        left: calc(50% - 70px);
        bottom: 20px;
    }

    .searchResultWrapper {
        margin: 10px;
        background: var(--white-color);
        border-radius: 10px;
        position: fixed;
        top: 160px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 50px;
        overflow-y: scroll;

        .searchResult {
            padding: 10px 15px;
            border-bottom: 1px solid var(--light-grey-color);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .infoWrapper {
                h2 {
                    margin: 0;
                    font-weight: 400;
                    font-size: 18px;
                }

                .ratingLabel {
                    font-size: 14px;
                    font-weight: 300;
                    color: var(--medium-grey-color);
                    display: inline-block;
                    margin: 5px 10px 5px 0;
                }

                .rating {
                    font-size: 14px;
                }

                .address {
                    font-size: 14px;
                    color: var(--medium-grey-color);
                    margin: 10px 0 5px 0;
                }
            }

            .chevron {
                color: var(--medium-grey-color);
                margin: 0 15px 0 0;
            }

            .gallery {
                display: flex;
                margin-top: 10px;

                .gallery1,
                .gallery2,
                .gallery3,
                .gallery4,
                .gallery5 {
                    width: 75px;
                    height: 75px;
                    border: 1px solid var(--light-grey-color);
                    margin: 5px 5px 5px 0;
                    background-size: 75px;
                }

                .gallery1 {
                    background-image: url(/school-images/1.jpeg);
                }

                .gallery2 {
                    background-image: url(/school-images/2.jpeg);
                }

                .gallery3 {
                    background-image: url(/school-images/3.jpeg);
                }
            }
        }
    }
}
