.listings{
    .container {
        padding: 40px 0 30px;
    }
}

.title {
	font-size: 24px;
	font-weight: 500;
	opacity: 0.9;
	margin-bottom: 20px;
}

.title--more {
	a {
		opacity: 0.9;
		font-size: 15px;
		font-weight: 500;
		color: #23d3d3;
		float: right;
		position: relative;
		margin-top: 10px;        
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 1px;
			background-color: #23d3d3;
			width: 0;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
		svg {
			margin:0 0 -3px 10px;
		}
	}
}

.post {
    box-sizing: border-box;;
	margin-bottom: 20px;
    width: 33.33%;
    padding: 10px 10px 10px 0;

    :last {
        padding: 10px 0 10px 0;
    }
}
.post__thumb {
	overflow: hidden;
    margin-bottom:10px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	img {
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
		height: 270px;
		width: 100%;
		object-fit: cover;
        object-position: 0% 20%;
	}
}
.post__category {
	margin-bottom: 9px;
	li {
		list-style: none;
		display: inline-block;
		a {
			opacity: 0.9;
			font-family: "Jost-Book";
			color: #5d5d5d;
			margin-right: 8px;
			position: relative;
			font-size: 12px;
			line-height: 19px;
			display: inline-block;
			&:hover {
				color: #23d3d3;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 1px;
				left: 0;
				right: 0;
				border-bottom: 1px solid #23d3d3;
			}
		}
		&:last-child {
			a {
				margin-right: 0;
			}
		}
	}
}
.post__info {
	.post__title {
		opacity: 0.9;
		font-size: 20px;
		color: #2d2d2d;
		font-weight: 500;
		line-height: 1.5;
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    
}

@media screen and (max-width: 767px) {
    .listings{
        .container{

            h2 {
                margin-bottom:5px;
            }
            padding:35px 15px 35px 15px;
            box-sizing: border-box;
        }

        .post {
            width: 100%;
        }

        .title--more {
            a {
                display:none
            }
        }

        .btn{
            width:100%;
            text-align: center;
        }
    }
}